<mat-card>
  <mat-card-content>
    <h2>Card Title</h2>
    <div fxLayout="column" fxLayoutGap="15px">
      <mat-card>
        <mat-card-content>
          joke
        </mat-card-content>

        <mat-card-actions fxLayoutAlign="end" fxLayoutGap="5px">
          <button mat-raised-button color="accent">LIKE</button>
          <button mat-raised-button color="primary">DISLIKED</button>
          <button mat-raised-button>ARCHIVE</button>

          <button mat-raised-button color="warn">DELETE</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </mat-card-content>
</mat-card>
